{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="theme-color" content="#000000" />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/mobile.css' %}" />
    {% include 'react/css.html' %}
    <link
      rel="shortcut icon"
      type="image/png"
      href="{% static 'media/twittur_sole_logo.png' %}"
    />
    <link rel="stylesheet" href="{% static 'css/all.css' %}" />
    <title>Twittur {% block title %}{% endblock title %}</title>
  </head>
  <body>
    {% include 'components/navbar.html' %}
    <div></div>
    {% if not request.user.is_authenticated %}
    <div></div>
    {% if not "login" in request.path and not "register" in request.path %}
    <div class="px-2 text-center w-100 mb-4">
      <a class="btn btn-outline-info mx-1" href="/login">Sign in</a>
      <a class="btn btn-outline-info mx-1" href="/register">Register</a>
    </div>
    {% endif %} {% endif %} {% block content %} {% endblock content %}
    <div></div>
    {% include 'react/base_embed.html' %}
    <div></div>
    {% include 'react/js.html' %}
  </body>
</html>
