{% extends 'base.html'%}
{% load static %}

{% block content %}
<section class="row">
  <div class='col-md-4 mx-auto'>
    <form action="/create-tweet" id='tweet-create-form' method="POST" class="form">
      {% csrf_token %}
      <input type="hidden" value="/" name="next">
      <textarea required='required' class='form-control' name="content" placeholder="Your tweet..." id="" cols="20" rows="3"></textarea>
      <button class='btn btn-primary' type="submit">Tweet</button>
    </form>
  </div>

</section>

<section class='row ml-4' id='tweets'>

</section>
<script src="{% static 'tweets.js' %}"></script>
{% endblock content %}