{% load static %}

<nav class="main-navbar mb-5">
  <a class="logo pl-2" href="#"
    ><img src="{% static '/media/twittur_light_narrow.png' %}" alt="logo"
  /></a>
  <div id="navbar-component" data-username="{{ request.user.username }}"></div>
</nav>
<script>
  const userSearch = () => {
    let formElement = document.getElementById("user-search-form");
    let actionSrc = `/search/${
      document.getElementById("user-search-input").value
    }`;

    formElement.action = actionSrc;
  };
</script>
